*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgba(177, 176, 176, 0.158);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.search {
    position: absolute;
    width: 74.5%;
    height: 40px;
    margin-left: 13%;
    background-color: white;
    border: 2px solid rgba(177, 176, 176, 0.158);
    border-radius: 2px;
}

#search-item {
    position: absolute;
    border-radius: 2px;
    border: 1px solid rgba(177, 176, 176, 0.541);
    height: 30px;
    width: 280px;
    margin-top: 3px;
    margin-left: 4px;
    font-style: italic;
    padding-left: 16px;
}

#search-btn {
    position: absolute;
    border: 1px solid transparent;
    background-color: rgb(19, 121, 204);
    color: white;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    width: 80px;
    margin-top: 3px;
    margin-left: 284px;
}

#search-btn:active {
    transform: scale(0.95);
}

#search-btn:focus {
    outline: none;
}

.account,
.fav,
.cart {
    position: absolute;
    font-size: 13px;
    font-weight: bolder;
    margin-top: -32px;
    margin-left: 600px;
}

.fav {
    margin-left: 730px;
}

.cart {
    margin-left: 860px;
}

.description {
    background-color: rgb(214, 214, 214);
    margin-left: 15.5%;
    margin-top: 10px;
    height: 40px;
    width: 70%;
}

.desc-name {
    position: absolute;
    border-right: 1px solid rgb(184, 184, 184);
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    height: 25px;
}

.products {
    background-color: white;
    margin-left: 15.5%;
    height: 150px;
    width: 70%;
    overflow-x: scroll;
}

.prod-quantity {
    position: relative;
    font-size: 13px;
    margin-top: -30px;
    margin-left: 265px;
    height: 20px;
    width: 50px;
    text-align: center;
    border: 1px solid rgba(184, 184, 184, 0.568);
    border-radius: 2px;
}

.step1 {
    border-radius: 50%;
    border: 1px solid rgb(19, 121, 204);
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    margin-top: -20px;
    margin-left: 360px;
}

.step2,
.step3 {
    border-radius: 50%;
    border: 1px solid rgb(19, 121, 204);
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
    color: rgba(179, 179, 179, 0.555);
    position: absolute;
    margin-top: -20px;
}

.addr {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    margin-left: 335px;
    margin-top: 25px;
}

.deliv,
.final {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    margin-top: 25px;
    color: rgba(179, 179, 179, 0.555);
}

.address {
    position: absolute;
    height: 530px;
    width: 250px;
    background-color: rgba(214, 214, 214, 0.247);
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 2px;
}

#individual {
    margin-top: 12px;
    margin-left: 10px;
}

#lab1,
#lab2 {
    position: absolute;
    margin-left: 3px;
    font-size: 11px;
    font-weight: bolder;
}

#lab1 {
    margin-top: 12px;
}

#lab2 {
    margin-left: 170px;
    margin-top: -17px;
}

#legal {
    position: absolute;
    margin-top: -18px;
    margin-left: 150px;
}

.method {
    color: rgba(179, 179, 179, 0.555);
    position: absolute;
    margin-top: 100px;
    margin-left: 570px;
}

.payment {
    color: rgba(179, 179, 179, 0.555);
    position: absolute;
    margin-top: 100px;
    margin-left: 830px;
}

#continue-btn {
    position: absolute;
    border: 1px solid transparent;
    background-color: rgb(19, 121, 204);
    color: white;
    font-size: 11px;
    font-weight: bolder;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin-top: 670px;
    margin-left: 20%;
}

#continue-btn:active {
    transform: scale(0.95);
}

#continue-btn:focus {
    outline: none;
}

.main-footer {
    display: flex;
    height: 8%;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 800px;
    position: relative;
    margin-bottom: -16px;
}

.main-footer p {
    margin-left: 8%;
    margin-top: 28px;
    font-size: small;
}

.main-footer .help img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.main-footer .help {
    position: absolute;
    margin-left: 70%;
    margin-top: 20px;
    background-color: red;
    color: white;
    width: 200px;
    height: 24px;
    border-radius: 2px;
}

.main-footer .help p {
    margin-left: 32px;
    margin-top: 0px;
    padding-top: 2px;
}