*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgba(177, 176, 176, 0.158);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    height: 16%;
}

.main-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    height: 52vh;
    border: 2px solid rgba(122, 122, 122, 0.158);
    border-radius: 4px;
    background-color: white;
}

.main-div h1 {
    display: block;
    color: rgba(122, 122, 122, 0.486);
    font-weight: normal;
    text-align: center;
    margin-top: 12%;
}

.main-div p {
    display: block;
    text-align: center;
    margin-top: 8%;
}

.main-div input {
    display: block;
    margin-top: 4%;
    border: 2px solid rgba(82, 82, 82, 0.39);
    background-color: white;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main-div button {
    display: block;
    margin-top: 4%;
    border: 2px solid transparent;
    background-color: rgb(19, 121, 204);
    color: white;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    cursor: pointer;
}

.main-div button:active {
    transform: scale(0.95);
}

.main-div button:focus {
    outline: none;
}

.main-div .paragh2 {
    display: block;
    text-align: center;
    margin-top: 4%;
}

.passwd {
    display: none;
}

.passwd p {
    margin-top: 20%;
}

.not-registered {
    display: none;
}

.main-footer a {
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    text-align: center;
}