*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgba(177, 176, 176, 0.158);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.search {
    position: absolute;
    width: 74.5%;
    height: 40px;
    margin-left: 13%;
    margin-top: 5%;
    background-color: white;
    border: 2px solid rgba(177, 176, 176, 0.158);
    border-radius: 2px;
}

#search-item {
    position: absolute;
    border-radius: 2px;
    border: 1px solid rgba(177, 176, 176, 0.541);
    height: 30px;
    width: 280px;
    margin-top: 3px;
    margin-left: 4px;
    font-style: italic;
    padding-left: 16px;
}

#search-btn {
    position: absolute;
    border: 1px solid transparent;
    background-color: rgb(19, 121, 204);
    color: white;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    width: 80px;
    margin-top: 3px;
    margin-left: 284px;
}

#search-btn:active {
    transform: scale(0.95);
}

#search-btn:focus {
    outline: none;
}

.account,
.fav,
.cart {
    position: absolute;
    font-size: 13px;
    font-weight: bolder;
    margin-top: -32px;
    margin-left: 600px;
}

.fav {
    margin-left: 730px;
}

.cart {
    margin-left: 860px;
}

.title,
.title-p {
    position: absolute;
    color: white;
    margin-top: 10%;
    margin-left: 13%;
}

.title-p {
    margin-top: 13%;
}

.prod-name,
.prod-type,
.winter {
    position: absolute;
    color: white;
    margin-top: 16%;
    margin-left: 13%;
}

.prod-type {
    margin-top: 18%;
}

.winter {
    font-size: 10px;
    margin-left: 21.1%;
    margin-top: 18.6%;
}

.old-price,
.new-price {
    position: absolute;
    color: white;
    margin-top: 22%;
    margin-left: 13%;
    font-size: 28px;
}

.old-price {
    text-decoration: line-through;
    text-shadow: 2px 2px #5757578c;
}

.new-price {
    margin-top: 25%;
    font-size: 36px;
    color: rgb(19, 121, 204);
}

#more {
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top: 32%;
    border: 2px solid transparent;
    background-color: rgb(19, 121, 204);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 13%;
    width: 10%;
    height: 5%;
}

#more:active {
    transform: scale(0.95);
}

#more:focus {
    outline: none;
}

.category1 {
    display: inline-block;
    border: 1px solid rgba(177, 176, 176, 0.541);
    border-radius: 2px;
    background-color: rgb(19, 121, 204);
    color: white;
    width: 150px;
    height: 80px;
}

.category1:hover {
    cursor: pointer;
}

.category {
    display: inline-block;
    border: 1px solid rgba(177, 176, 176, 0.541);
    border-radius: 2px;
    background-color: white;
    width: 150px;
    height: 80px;
}

.category:hover {
    cursor: pointer;
}

.brand-div {
    position: absolute;
    height: 400px;
    width: 150px;
    background-color: rgb(214, 214, 214);
    margin-top: 100px;
    margin-left: 13%;
    border-radius: 2px;
}

.brand:hover {
    cursor: pointer;
}

.pirelli {
    background-color: rgb(19, 121, 204);
    color: white;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 13px;
    font-weight: bold;
}

#quant {
    width: 10px;
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    margin-top: 5px;
}

#add-to {
    border: transparent;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin-left: 15px;
    cursor: pointer;
}

#add-to:active {
    transform: scale(0.95);
}

#add-to:focus {
    outline: none;
}

.main-footer {
    display: flex;
    height: 8%;
    background-color: black;
    color: white;
    margin-top: 1550px;
    position: relative;
    margin-bottom: -16px;
}

.main-footer p {
    margin-left: 8%;
    margin-top: 28px;
    font-size: small;
}

.main-footer .help img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.main-footer .help {
    position: absolute;
    margin-left: 70%;
    margin-top: 20px;
    background-color: red;
    color: white;
    width: 200px;
    height: 24px;
    border-radius: 2px;
}

.main-footer .help p {
    margin-left: 32px;
    margin-top: 0px;
    padding-top: 2px;
}
